.bgfin-child,
.bgfin-item {
  position: absolute;
  left: 0;
  width: 1541px;
}
.bgfin-child {
  top: 541.06px;
  background-color: var(--color-maroon);
  height: 674.94px;
}
.bgfin-item {
  top: 536px;
  height: 680px;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.bgfin-inner {
  background: linear-gradient(180deg, rgba(135, 6, 15, 0) 3.1%, #090505 92.59%);
}
.bgfin-inner,
.contact-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1541px;
  height: 1216px;
}
.telegram-3-icon {
  position: absolute;
  bottom: 60.55px;
  left: 70px;
  width: 100px;
  height: 104.45px;
  overflow: hidden;
}
.svewmenenko {
  top: 118px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.div,
.svewmenenko,
.telega {
  position: absolute;
  left: 0;
}
.telega {
  bottom: 0;
  width: 239px;
  height: 165px;
}
.div {
  top: 128px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.whatsapp-3-icon {
  position: absolute;
  bottom: 65.55px;
  left: 93px;
  width: 100px;
  height: 104.45px;
  overflow: hidden;
}
.whatsapp {
  position: absolute;
  top: 0;
  left: 333px;
  width: 285px;
  height: 170px;
  font-size: var(--font-size-13xl);
}
.instagram-3-icon {
  position: absolute;
  bottom: 60.55px;
  left: 65px;
  width: 100px;
  height: 104.45px;
  overflow: hidden;
}
.icons,
.insta {
  position: absolute;
}
.insta {
  top: 8px;
  left: 717px;
  width: 229px;
  height: 165px;
}
.icons {
  bottom: 246px;
  left: 295px;
  width: 946px;
  height: 173px;
}
.div1,
.h2 {
  position: absolute;
  letter-spacing: 0.01em;
}
.div1 {
  top: 1014px;
  left: 597px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.h2 {
  margin: 0;
  bottom: 453.4px;
  left: 0;
  font-size: var(--font-size-29xl);
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--font-caviar-dreams);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1502.01px;
  height: 94.6px;
}
.accessories-bg-child,
.contact {
  position: absolute;
  left: 0;
  width: 1541px;
}
.contact {
  top: 7739px;
  height: 1216px;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-futura-md);
}
.accessories-bg-child {
  top: 6px;
  background-color: var(--color-maroon);
  height: 800px;
}
.accessories-bg-item {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.accessories-bg,
.accessories-bg-item {
  width: 1541px;
  height: 806px;
}
.accessories-bg,
.group-child,
.yellow-bg {
  position: absolute;
  top: 0;
  left: 0;
}
.yellow-bg {
  background-color: var(--color-goldenrod);
  width: 1373px;
  height: 446px;
}
.group-child {
  background-color: #054c97;
  width: 435px;
  height: 412px;
}
.photo-2023-07-01-17-02-04-1-icon {
  position: absolute;
  top: 34px;
  left: 37px;
  width: 361px;
  height: 378px;
  object-fit: cover;
}
.rectangle-parent {
  position: absolute;
  top: 0;
  left: 435px;
  width: 435px;
  height: 412px;
}
.img-5100-1-icon,
.photo-2023-07-13-15-39-46-1-icon {
  position: absolute;
  top: 0;
  left: 870px;
  width: 435px;
  height: 412px;
  object-fit: cover;
}
.photo-2023-07-13-15-39-46-1-icon {
  left: 0;
}
.images,
.img {
  position: absolute;
  top: 35px;
  left: 34px;
  width: 1305px;
  height: 412px;
}
.images {
  top: 359px;
  left: 84px;
  width: 1373px;
  height: 447px;
}
.div2,
.div3 {
  position: absolute;
  top: 62px;
  left: 0;
  text-transform: uppercase;
}
.div3 {
  top: 0;
  font-size: 40px;
  letter-spacing: 0.1em;
  color: var(--color-white);
}
.access-txt,
.accessories {
  position: absolute;
  top: 84px;
  left: 181px;
  width: 633px;
  height: 174px;
}
.accessories {
  top: 7499px;
  left: 0;
  width: 1541px;
  height: 806px;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--font-color);
  font-family: var(--font-caviar-dreams);
}
.bg-text-child {
  position: absolute;
  top: 0;
  left: 2px;
  background-color: #b080e6;
  width: 598px;
  height: 762.77px;
}
.bg-text-item {
  object-fit: cover;
  mix-blend-mode: overlay;
}
.bg-balloon-icon,
.bg-text,
.bg-text-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px;
  height: 769px;
}
.bg-text {
  display: none;
}
.bg-balloon-icon {
  object-fit: cover;
}
.p {
  margin: 0;
}
.span {
  position: absolute;
  top: 112px;
  left: 74px;
  text-transform: uppercase;
  font-weight: 500;
  white-space: pre-wrap;
  display: inline-block;
  width: 354px;
  height: 546px;
  text-shadow: 4px 4px 6px #c29fea;
  mix-blend-mode: multiply;
}
.balloons-bgtxt,
.balloons-child {
  position: absolute;
  top: 0;
  left: 767px;
  width: 600px;
  height: 769px;
}
.balloons-child {
  left: 0;
  width: 769px;
  object-fit: cover;
}
.balloons,
.bg {
  position: absolute;
  top: 3311px;
  left: 172px;
  width: 1367px;
  height: 769px;
}
.bg {
  top: 0;
  left: 0;
  background-color: #4a50a2;
  width: 1539px;
  height: 760px;
}
.group-item {
  top: 0;
  background-color: #8692a2;
}
.group-inner,
.group-item,
.rectangle-group {
  position: absolute;
  left: 0;
  width: 356.54px;
  height: 350px;
}
.group-inner {
  top: 0;
  object-fit: cover;
  display: none;
  mix-blend-mode: overlay;
}
.rectangle-group {
  top: 417px;
}
.rectangle-div,
.rectangle-icon {
  position: absolute;
  top: 0;
  height: 384px;
}
.rectangle-div {
  left: 0;
  background-color: var(--color-maroon);
  width: 178.77px;
  mix-blend-mode: overlay;
}
.rectangle-icon {
  left: -57.92px;
  width: 236.69px;
  object-fit: cover;
  display: none;
  mix-blend-mode: normal;
}
.rectangle-container {
  position: absolute;
  top: 0;
  left: 593.23px;
  width: 178.77px;
  height: 384px;
}
.bg-purple,
.bg-purple-child {
  position: absolute;
  left: 0;
  width: 1539px;
}
.bg-purple-child {
  top: 7px;
  height: 760px;
  object-fit: cover;
  mix-blend-mode: hard-light;
}
.bg-purple {
  top: 0;
  height: 767px;
}
.photo-2023-04-26-18-54-41-2,
.purple-child {
  position: absolute;
  top: 0;
  left: 773px;
  width: 768px;
  height: 384px;
  object-fit: cover;
}
.photo-2023-04-26-18-54-41-2 {
  left: 0;
  width: 594px;
}
.purple-item {
  top: 417px;
  left: 797px;
  width: 744px;
  height: 350px;
  object-fit: cover;
}
.icon,
.purple,
.purple-item {
  position: absolute;
}
.icon {
  top: 417px;
  left: 145px;
  width: 628px;
  height: 350px;
  object-fit: cover;
}
.purple {
  top: 2484px;
  left: 0;
  width: 1541px;
  height: 767px;
}
.mozart-child,
.mozart-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 655px;
  height: 768px;
  object-fit: cover;
}
.mozart-item {
  left: 601px;
  width: 720px;
  height: 578px;
}
.mozart {
  position: absolute;
  top: 1598px;
  left: 172px;
  width: 1321px;
  height: 768px;
}
.photo-2023-05-18-22-04-57-1-icon,
.text-space-child {
  position: absolute;
  top: 0;
  left: 493px;
  width: 933px;
  height: 601px;
  object-fit: cover;
}
.text-space-child {
  left: 0;
  width: 450px;
  mix-blend-mode: normal;
}
.text-space-item {
  background-color: var(--color-goldenrod);
  mix-blend-mode: multiply;
}
.text-space,
.text-space-item,
.txt-yellow-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 601px;
}
.text-space {
  display: none;
}
.txt-yellow-bg {
  object-fit: cover;
}
.span1 {
  position: absolute;
  top: 126px;
  left: 61px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 361px;
  height: 349px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  mix-blend-mode: multiply;
}
.txtbg,
.white {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  height: 601px;
}
.white {
  top: 912px;
  left: 111px;
  width: 1426px;
  font-size: 46px;
}
.background-pink-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1535.01px;
  height: 835px;
  object-fit: cover;
  mix-blend-mode: difference;
}
.background-pink-item {
  background-color: #6d3f9c;
  mix-blend-mode: overlay;
}
.background-pink,
.background-pink-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1537px;
  height: 835px;
}
.photo-2023-04-23-00-59-02-1-icon,
.photo-2023-04-23-00-59-04-1-icon {
  position: absolute;
  top: 230px;
  left: 0;
  width: 773px;
  height: 530px;
  object-fit: cover;
}
.photo-2023-04-23-00-59-04-1-icon {
  left: 813px;
  width: 728px;
}
.h21 {
  margin: 0;
  position: absolute;
  top: 54px;
  left: 184px;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 1169.87px;
  height: 73.16px;
}
.pink,
.projects {
  position: absolute;
  top: 0;
  left: 0;
  width: 1541px;
  height: 835px;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-caviar-dreams);
}
.projects {
  top: 3276px;
  left: 2px;
  height: 4080px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--bg-color);
  font-family: var(--font-futura-md);
}
.bg-icon,
.h22 {
  position: absolute;
  top: 0;
}
.bg-icon {
  left: 0;
  width: 1538px;
  height: 833px;
  object-fit: cover;
}
.h22 {
  margin: 0;
  left: 0.27px;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 347.12px;
  height: 175.88px;
}
.txt {
  width: 100%;
}
.span2 {
  position: absolute;
  top: 253.99px;
  left: 0;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  font-family: var(--font-futura-md);
  display: flex;
  align-items: flex-end;
  width: 266px;
  height: 360px;
}
.sketch-text {
  position: absolute;
  top: 86.01px;
  left: 228px;
  width: 347.38px;
  height: 613.99px;
}
.process-child,
.process-item {
  position: absolute;
  top: 148px;
  left: 685px;
  width: 258.47px;
  height: 374.95px;
  object-fit: cover;
}
.process-item {
  top: 141px;
  left: 943px;
  width: 419.75px;
  height: 326.63px;
}
.photo-2023-07-01-19-02-40-1-icon,
.process-inner {
  position: absolute;
  top: 273.48px;
  left: 575.38px;
  width: 469px;
  height: 509.27px;
  object-fit: cover;
}
.photo-2023-07-01-19-02-40-1-icon {
  top: 417px;
  left: 1074px;
  width: 467px;
  height: 315px;
}
.metal-paper-clips-04-1 {
  position: absolute;
  top: 215px;
  left: 517px;
  width: 101.56px;
  height: 141.41px;
  object-fit: contain;
}
.process {
  position: absolute;
  top: 2443px;
  left: 0;
  width: 1541px;
  height: 833px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--color-white);
  font-family: var(--font-caviar-dreams);
}
.stripe-child {
  top: 0;
  background-color: var(--color-maroon);
}
.stripe,
.stripe-child,
.stripe-item {
  position: absolute;
  left: 0;
  width: 1541px;
  height: 266px;
}
.stripe-item {
  top: 0;
  object-fit: cover;
  mix-blend-mode: soft-light;
}
.stripe {
  top: 554px;
}
.icon1 {
  top: 0;
  left: 382px;
  width: 1159px;
  height: 775px;
  object-fit: cover;
}
.icon1,
.intr2,
.span3 {
  position: absolute;
}
.span3 {
  top: 203px;
  left: 177px;
  font-weight: 500;
  display: inline-block;
  width: 430px;
  height: 272px;
}
.intr2 {
  top: 782px;
  left: 0;
  width: 1541px;
  height: 820px;
}
.d-icon {
  top: 0;
  left: 0;
  width: 637px;
  height: 768px;
  object-fit: cover;
}
.d-icon,
.d-icon1,
.h23 {
  position: absolute;
}
.d-icon1 {
  top: 0;
  left: 767px;
  width: 387.52px;
  height: 448px;
  object-fit: cover;
}
.h23 {
  margin: 0;
  top: 465px;
  left: 686px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 469px;
  height: 287px;
}
.intr1,
.show-off {
  position: absolute;
  top: 0;
  left: 177px;
  width: 1155px;
  height: 768px;
  font-size: var(--font-size-45xl);
  color: var(--font-color);
  font-family: var(--font-caviar-dreams);
}
.show-off {
  top: 786px;
  left: 0;
  width: 1541px;
  height: 1602px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-futura-md);
}
.background-icon,
.shading-child {
  position: absolute;
  top: 0;
  left: 51px;
  width: 1440px;
  height: 695px;
  object-fit: cover;
}
.shading-child {
  left: 1413px;
  width: 128px;
  height: 653px;
}
.shading,
.shading-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 1541px;
}
.shading-item {
  height: 83px;
  object-fit: cover;
}
.shading {
  height: 653px;
}
.h1,
.h24 {
  margin: 0;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.h24 {
  position: absolute;
  top: 564px;
  left: 30px;
  font-size: inherit;
  text-align: right;
  width: 962px;
  height: 71.13px;
}
.h1 {
  top: 56px;
  left: calc(50% - 496px);
  font-size: var(--font-size-77xl);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  width: 923px;
  height: 321.04px;
  text-shadow: 0 0 10px #000;
}
.h1,
.p16,
.text {
  position: absolute;
}
.p16 {
  margin: 0;
  top: 0;
  left: 0;
  font-size: var(--font-size-5xl);
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--color-white);
}
.text {
  top: 27px;
  left: 290px;
  width: 992px;
  height: 635.13px;
}
.instagram-2-icon,
.telegram-2-icon,
.whatsapp-2-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.instagram-2-icon,
.telegram-2-icon {
  top: 112px;
}
.instagram-2-icon {
  top: 227px;
  left: 3px;
}
.whatsapp-2-parent {
  position: absolute;
  top: 89px;
  left: 49px;
  width: 43px;
  height: 267px;
}
.group-child1,
.group-child2,
.group-child3 {
  left: 0;
  border-radius: var(--br-55xl);
  background-color: var(--font-color);
}
.group-child1 {
  position: absolute;
  top: 0;
  width: 4px;
  height: 77px;
}
.group-child2,
.group-child3 {
  height: 52px;
}
.group-child2 {
  position: absolute;
  top: 141px;
  width: 4px;
}
.group-child3 {
  top: 254px;
}
.group-child3,
.group-child4,
.group-div {
  position: absolute;
  width: 4px;
}
.group-child4 {
  top: 366px;
  left: 0;
  border-radius: var(--br-55xl);
  background-color: var(--font-color);
  height: 52px;
  display: none;
}
.group-div {
  top: 0;
  left: 70px;
  height: 306px;
}
.arrow-hand-drawn-scribble-d {
  position: absolute;
  top: 348px;
  left: 0;
  width: 144.12px;
  height: 144.12px;
  overflow: hidden;
  object-fit: contain;
}
.landing,
.side-panel {
  position: absolute;
  top: 48px;
  left: 1375px;
  width: 144.12px;
  height: 492.12px;
}
.landing {
  top: 0;
  left: 0;
  width: 1541px;
  height: 695px;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--font-color);
  font-family: var(--font-caviar-dreams);
}
.final-cut {
  position: relative;
  background-color: var(--bg-color);
  width: 100%;
  height: 8955px;
  overflow: hidden;
}
